@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4, h5, h6, nav, label, th, .cal-cell, .cal-time, .cal-header {
  font-family: 'Montserrat', sans-serif !important;
}

p, li, span, .btn, input, textarea, option, select, ul, td, .cal-day-number, .cal-day-badge {
  font-family: 'News Cycle', sans-serif !important;
  letter-spacing: 1px ;
}

body {
  background-color: #282828;
}

body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#glFullscreen {
  padding-top:3.6em;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
